
/*BARRE DE NAVIGATION*/


ul
{
	display: -webkit-inline-box;
margin:0px;
padding:0px;
list-style-type:none;
-webkit-backface-visibility: hidden; backface-visibility: hidden;  
}
.var_nav
{
position:relative;
background:#ccc; 
width:300px;
height:70px;
margin-bottom: 30px;
margin-right:90px; 
}
.link_bg
{
 width:70px;
 height:70px;
 position:absolute;
 background:#fd9208;
 color:#fff;
 z-index:2;
}
.link_bg i
{
 position:relative;
}
.link_title
{
position:absolute;
width:100%;
z-index:3;
color:#fff;
width: 300px;
}
.link_title p{
	font-size: 22px;
	margin-top: 19px;
}
.link_title:hover .icon
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
-ms-transform:rotate(360deg);
transform:rotate(360deg);  
}
.var_nav:hover .link_bg
{
width:100%;
background:#fd9208;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;  
}
.icon
{
position:relative;
width:70px;
height:70px;
text-align:center;
color:#fff;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;   
float:left;
transition:all .5s ease-in-out;   
float:left; 
font-size: 35px; 
}
.icon i{top:15px;position:relative;}
a{
	font-weight: bold;
display:block;
font-family:Helvetica;
color:#fff;
text-decoration:none;
width:100%;
height:70px;
text-align:center;
}
/*END NAVIGATION*/



/*CONNEXION*/


body {
	background: #2c3338;
	color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}


.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login {
	width: 280px;
}

#login form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}

#login form input[type="text"], input[type="password"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 230px;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #fd9208;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 280px;
}


#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
#Connexion{
    font-family: "aerolitecponemedium";
    src: url('AeroliteCPone-webfont.ttf');
    margin-top: 130px;         
    font-size: 115px;
    color: #fd9208;
    text-align: center;
}
@font-face {
    font-family: 'aerolitecponemedium';
    src: url('AeroliteCPone-webfont.eot');
    src: url('AeroliteCPone-webfont.eot?#iefix') format('embedded-opentype'),
         url('AeroliteCPone-webfont.woff2') format('woff2'),
         url('AeroliteCPone-webfont.woff') format('woff'),
         url('AeroliteCPone-webfont.ttf') format('truetype'),
         url('AeroliteCPone-webfont.svg#aerolitecponemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

#Accueil{
	width: 15px;
	height: 15px;
display: block;
left: 1750px;
top: 930px;
font-size: 35px;
}
#Accueil:hover{
	color: #fd9208;
}

#Contact{ 
	font-family: "aerolitecponemedium";
    src: url('AeroliteCPone-webfont.ttf');
    font-size: 100px;
    color: #fd9208;
    text-align: center;
    margin: 30px;
    margin-bottom: 20px;
}

#map{
	margin-left: 100px;
	display: inline-block;
	float: left;

}












					/*Forumlaires*/
				


#Name{
	margin-left: 130px;
	padding-left: 15px;
	padding-top: 22px;
	padding-bottom: 22px;
	margin-bottom: 25px;
	border: 2px solid #8a8889;
	outline-color: #fd9208;
	color: #747474;
	display: inline-block;
	width: 555px;
}
#Email{
	margin-left: 130px;
	padding-left: 15px;
	padding-top: 22px;
	padding-bottom: 22px;
	margin-bottom: 25px;
	border: 2px solid #8a8889;
	outline-color: #fd9208;
	color: #747474;
	display: inline-block;
		width: 555px;

}
#subject{
	margin-left: 130px;
	padding-left: 15px;
	padding-top: 22px;
	padding-bottom: 22px;
	margin-bottom: 25px;
	border: 2px solid #8a8889;
	outline-color: #fd9208;
	color: #747474;
	display: inline-block;
		width: 555px;

}
#message{
	margin-left: 130px;
	height: 282px;
	width: 555px;
	border-width: 2px;
	border-color: #8a8889;
	resize: none;
	margin-bottom: 0px;
	outline-color: #fd9208;
	display: inline-block;
	color: #747474;
	font-size: 17px;
	padding-left: 15px;
	padding-top: 15px;
}
#tour {
	display: block;
	background-color:#fd9208;
	padding:20px;
	margin-left: 130px;
	color: white;
	margin-top: 20px;
	font-weight: bold;
	border: 0px;
	margin-top: 25px;
	display: inline-block;
}


ol li{
	margin-left: 65px;
	margin-right: 35px;
	margin-top: 20px;
	font-size: 20px;
	display: inline-block;
	color: #fd9208;
}



/*Pseudo connecté*/

.pseudo{
	color: white;
	float: right;
	font-size: 25px;
	margin-top: 75px;
	margin-right: 55px;
}

/*Logo*/

.logo{
	margin-top: 25px;
	margin-left: 25px;
	margin-bottom: 45px;
}
#image{
	width: 300px;
	float: left;
}
#placement{
	margin-top: 500px;
	border-color: orange;
	border-style: solid;
	border-width: 2px;
	height: 211px;
	text-align: center;
	display: table-cell;
	color: white;
	padding-top: -300px;
}
img{
	float: left;
}
#critere{
	color: white;
	padding-top: 67px;
}
#critere li{
	list-style: none;
	border-color: orange;
	border-style: solid;
	border-width: 2px;
	text-align: center;
	margin-left: 508px;
	width: 842px;
}
#li{
	display:flex;
}
#li p{
	margin-right: 50px;
}


/*Slider */
.slider{
	width: 640px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	
margin-left: 650px;	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/*Clicking on any thumbnail now should activate the image related to it*/

/*We are done :)*/



/*Connexion*/
.inscription{
	color: #f18c0a;
	font-size: 30px;
	text-align: center;
	margin-top: 400px;
}

